*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    max-width: 90%;
}

.navbar-nav .nav-link.active{
            color: #fff;
        }

        header{
            background-color: #fff;
            position: sticky; /* Define sticky como padrão */
            top: 0;
            left: 0;
            z-index: 1000;
        }
        .carousel-item img{
            width: 100%;
            height: auto;
            max-height: 90vh;
            object-fit: cover;
        }

        .gastronomia-section{
            padding: 30px;
            background-color: blue;
        }

        .card{
            height: 100%;
        }

        .card-img-top{
            height: 200px;
            object-fit: cover;
        }




        @media screen and (min-width: 576px) {
            header {
                position: static; /* Remove o sticky em telas maiores */
            }

            .container{
                max-width: 720px;
            }
        } 

        @media screen (max-width: 575px) {
            header{
                position:sticky;
                top: 0;
                left: 0;
                z-index: 1000;
            }
        }
